.root
{
    --scsclr : #198754;
}
.frst
{
    color : var(--bs-cyan);
}
.frst:hover
{
    opacity: 0;
    transition: opacity 1s ease;
}
.nav-toglebtn-shadow:focus
{
    box-shadow: 0px 0px 0px 1px green, 0px 1px 0px 0px green !important;
}
.homeicn
{
    font-size: 30px;
    
    
}
.homeicn:hover
{
    color:#19971b;
}
.bg1
{
    background-color: #6c757d !important;
    color: #c6c6c6 !important;
}
.regist{
    text-decoration: none;
    color: #7b7777;
    cursor: pointer;
}
.regist:hover ,.regist:focus
{
    color: green;
}
.logigo
{
    font-size: max(45vw + 100px);
    color: var(--scsclr);
    /* margin-left: 400px; */

}
.custom-class {
    display: block;
  }
  @media (max-width: 768px) {
    .custom-class {
      display: none;
    }
  }
  .inputbrdr:focus{
    box-shadow: 0 0 0 0.25rem rgba(26, 113, 72, 0.648) !important;
    border-color: #198754;
  }
  .imgcptnposition
  {
    top: 80% !important;
    left: 5% !important;
    max-width: 90% !important;
  }
  .dynamic-ftomedium
  {
    font-size: clamp(10px,2vw + 2px,28px) !important;
    text-shadow: 0 .2rem 2rem rgba(0, 0, 0, 0.586)!important;
    color: rgba(255, 255, 255, 0.93);
  }
  .dynamic-ftosmall
  {
    font-size: clamp(5px,1vw + 1px,20px) !important;
    text-shadow: 0 .2rem 2rem rgba(0, 0, 0, 0.586)!important;
    color: rgba(246, 246, 246, 0.973);
  }